h1 {
    color: #FF5AA7;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-group {
    margin-top: 20px;
    margin-left: 45%;

}
.button-group button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #FFFFFF;
}
.button-group button:hover {
    background-color: #FF5AA7;
    color: #FFFFFF;
}

body {
    background-color: #FFEBF5;
}

p {
   color: #FF5AA7;
   text-align: center;
   font-size: 30px;
}

#responseMessage {
   color: #FF5AA7;
   text-align: center;
   font-size: 20px;
   margin-top: 20px;
}